<div class="selects">
    <div class="funcionarios">
        <mat-form-field appearance="fill">
            <mat-label>Selecione o Motorista</mat-label>
            <mat-select [(value)]="select_motorista">
                <mat-option *ngFor="let motorista of motoristas" value="{{ motorista.id }}">{{ motorista.NOME }} {{ motorista.SOBRENOME }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="funcionarios">
        <mat-form-field appearance="fill">
            <mat-label>Selecione o Ajudante</mat-label>
            <mat-select [(value)]="select_ajudante">
                <mat-option *ngFor="let ajudante of ajudantes" value="{{ ajudante.id }}">{{ ajudante.NOME }} {{ ajudante.SOBRENOME }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="cte">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>DACTe</mat-label>
            <input matInput placeholder="Codigo DACTe de 44 digitos" type="tel" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="cte" name="cte" (change)='getCTE()'>
        </mat-form-field>
    </form>
    <p>{{ cte }}</p>
</div>
<app-tablectes [all_cte]='all_cte'></app-tablectes>