.container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toglers{
    display: flex;
    width: 100%;
    margin: 1em;
    justify-content:space-evenly;
    mat-slide-toggle{
        margin: 0.5em;
    }
}
.fv{
    width: 100%;
    .selects{
        display: flex;
        flex-direction: column;
        .fix_selects, .dinamic_selects{
            display: grid;
            align-items: center;
            grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
            text-align: center;
        }
        .veiculo,.motorista{
            mat-form-field{
                width: 100%;
            }
            margin: 5px;
        }
        .cargos{
            margin: 5px;
        }
    }
}

.cte{
    width: 100%;
    display: flex;
    justify-content: center;
    .example-full-width{
        width: 100%;
    }
    form{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        mat-form-field{
            width: 30em;
        }
    }
}
app-tablectes{
    width: 100%;
}

.bt-save{
    margin: 10px 0 10px auto;  
}
.obs{
    margin-top: 10px;
    width: 100%;
    .obs-text{
        width: 100%;
    }

}

.full-width-table {
  width: 100%;
}

.example-container {
    width: 100%;
  height: 400px;
  overflow: auto;
}