<div class="container">
    <div class="toglers">
        <form #f='ngForm'>
            <mat-slide-toggle *ngFor="let cargo of cargos" name="{{cargo.CARGO}}" (change)='showfunc(f)' ngModel>{{ cargo.CARGO}} </mat-slide-toggle>
        </form>
    </div>
    <div class="fv">
        <form class="selects" #funcselected = "ngForm">
            <div class="fix_selects">
                <div class="veiculo">
                    <mat-form-field appearance="fill">
                        <mat-label>Selecione o Veiculo</mat-label>
                        <mat-select name="veiculos" ngModel required>
                            <mat-option *ngFor="let veiculo of all_veiculos" value="{{veiculo.id}}">
                                {{veiculo.REFERENCIA }} | {{ veiculo.PLACA }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="motorista" >
                    <mat-form-field appearance="fill">
                        <mat-label>Selecione o Motorista</mat-label>
                        <mat-select name="Motorista" ngModel required>
                            <mat-option *ngFor="let funcionario of motoristas" value="{{funcionario.id}}">{{
                            funcionario.NOME }} {{ funcionario.SOBRENOME }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class='dinamic_selects'>
                <div class="cargos" *ngFor="let select_cargo of selected_cargos">
                    <mat-form-field appearance="fill">
                        <mat-label>Selecione o {{ select_cargo.cargo }}</mat-label>
                        <mat-select name="{{select_cargo.cargo}}" ngModel>
                            <mat-option *ngFor="let funcionario of select_cargo.funcionarios" value="{{funcionario.id}}">{{
                                funcionario.NOME }} {{ funcionario.SOBRENOME }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="cte">
        <form autocomplete="off">
            <mat-form-field>
                <mat-label>DACTe</mat-label>
                <input matInput placeholder="Codigo DACTe de 44 digitos" type="tel" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="cte" name="cte" (change)='getCTE()'>
            </mat-form-field>
        </form>
    </div>
    <app-tablectes [teste]= 'cte' [dados]='all_cte'></app-tablectes>
    <div class="obs">
        <mat-form-field class="obs-text">
            <mat-label>Observacao</mat-label>
            <textarea matInput name="obs" id="obs" [(ngModel)]="obs"></textarea>
        </mat-form-field>
    </div>
    <div class="bt-save">
        <button mat-raised-button color="primary" (click)="saverel(funcselected)">Salvar</button>
    </div>
</div>

<button (click)="console(funcselected)">console</button>