.container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selectors{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    overflow: auto;
    form{
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        float: right;
        mat-slide-toggle{
            margin: 5px;
        }
    }
    .selects{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
        text-align: center;
        width: -webkit-fill-available;
        width: 100%;
        .funcionarios{
            margin: 10px;
        }
    }
}

.cte{
    width: 100%;
    display: flex;
    justify-content: center;
    form{
        width: 30em;
    }
    .example-full-width{
        width: 100%;
    }
}
app-tablectes{
    width: 100%;
}