.pagina{
    height: 25mm;
    width: 80mm;
    background-color: white;
    padding: 3mm;
}

body{
    background-color: gray;
}

.nome{
    border-color: black;
    border-width: 2px;
    width: 20mm;
    height: 8mm;
}