@mixin card {
    text-align: center;
    min-height: 150px;
}
.card-mobile{
    @include card;
    width: auto;
    margin-right: 20px;
}
.card-pc{
    @include card;
    width: 260px;
}
.card-title{
    margin: 10px;
}
.acard{
    text-decoration: none;
}
.title{
    font-size: 24px;
    font-weight: 500;
    margin: 12px 0 12px;
    display: flex;
    justify-content: space-around;
}
.content{
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}