@mixin card {
    text-align: center;
    height: 150px;
}
.card-mobile{
    @include card;
    width: auto;
    margin-right: 20px;
}
.card-pc{
    @include card;
    width: 260px;
}
.card-title{
    margin: 10px;
}
.acard{
    text-decoration: none;
}