<div class="container" *ngIf="aviso != undefined">
    <div class="titulo">
        <p>Relatorio N&#176; {{report.id}}</p>
    </div>
    <div class="rowinfos">
        <div class="funcionarios">
            <p *ngFor="let func of report.FUNCIONARIOS">{{ func.FUNCAO.CARGO }}: {{ func.FUNCIONARIO.NOME }} {{ func.FUNCIONARIO.SOBRENOME }}</p>
        </div>
        <div class="data">
            <p>
                Data: {{ report.DATA | date:'dd/MM/yyyy'}}
            </p>
            <p>
                Operador: {{ report.USUARIO.username }}
            </p>
        </div>
    </div>
    <!-- <div class="rowctecontainer">
        <div class="row" *ngFor="let cte of report.CTE_FPag" >
            <div class="ncontrole">
                <p>N&#176; Controle<br>
                {{cte.CTE.NR_CONTROLE}}</p>
            </div>
            <div class="rda">
                <div class="rem-dest">
                    <p>
                        Remetente: {{cte.CTE.REMETENTE}}
                        <br>
                        Destinatario: {{cte.CTE.DESTINATARIO}}
                        <br>
                        Volumes: {{cte.CTE.VOLUMES}} ¦ NFe: {{cte.CTE.NFE}}
                    </p>
                </div>
            </div>
            <div class="pag">
                <p>
                    Receber<br>
                    R$ {{cte.CTE.VALOR}}<br>
                    {{cte.F_PAGAMENTO.metodo}}<br>
                </p>
            </div>
            <div class="pag">
                <p> Chegada <br> ___:___ </p>
                <p>| Saida<br> ___:___ </p>
            </div>
        </div>
    </div> -->
    <div class='tablecte'>
        <table mat-table [dataSource]='ctelist'>
            <ng-container matColumnDef='controle'>
                <th mat-header-cell *matHeaderCellDef> Controle </th>
                <td mat-cell *matCellDef="let element"> {{element.NR_CONTROLE}} </td>
            </ng-container>
            <ng-container matColumnDef='destinatario'>
                <th mat-header-cell *matHeaderCellDef> Destinatario </th>
                <td mat-cell *matCellDef="let element"> {{element.DESTINATARIO}} </td>
            </ng-container>
            <ng-container matColumnDef='remetente'>
                <th mat-header-cell *matHeaderCellDef> Remetente </th>
                <td mat-cell *matCellDef="let element"> {{element.REMETENTE}} </td>
            </ng-container>
            <ng-container matColumnDef='volumes'>
                <th mat-header-cell *matHeaderCellDef> Vol. </th>
                <td mat-cell *matCellDef="let element"> {{element.VOLUMES}} </td>
            </ng-container>
            <ng-container matColumnDef='valor'>
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element"> R$ {{element.VALOR}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class='obs'>
        <p>
            {{report.OBS}}
        </p>
    </div>
    <div class="aviso">
        <p>
            {{ aviso }}
        </p>
    </div>
    <div class="assinatura">
        <div class="funcionario"  *ngFor="let func of report.FUNCIONARIOS">
            <hr>
            <p>
            <br>
            {{ func.FUNCIONARIO.NOME }} {{ func.FUNCIONARIO.SOBRENOME }}<br>
            {{ func.FUNCAO.CARGO }}
            </p>

        </div>
    </div>
</div>