<div class="container">
    <div class="rowinfos">
        <div class="funcionarios" *ngFor="let func of report.FUNCIONARIOS">
            <p>{{ func.FUNCAO.CARGO }}: {{ func.FUNCIONARIO.NOME }} {{ func.FUNCIONARIO.SOBRENOME }}</p>
        </div>
    </div>
    <div class="rowctecontainer" *ngFor="let cte of report.CTE_FPag" >
        <div class="ncontrole">
            <p>N&#176; Controle</p>
            <p>{{cte.CTE.NR_CONTROLE}}</p>
        </div>
        <div class="rda">
            <div class="rem-dest">
                <p>
                    Remetente:<br>{{cte.CTE.REMETENTE}}
                    <br>
                    Destinatario:<br>{{cte.CTE.DESTINATARIO}}
                </p>
            </div>
            <div class="assinatura">
                <p>Assinatura:</p>
            </div>
        </div>
        <div class="pag">
            <p>
                Receber<br>
                R$ {{cte.CTE.VALOR}}<br>
                {{cte.F_PAGAMENTO.metodo}}<br>
            </p>
        </div>
    </div>
</div>