<div class="body">
    <div class="row">
        <div class="add_position">
            <h1>Nova Funcao</h1>
            <form class="add_pos_form" (ngSubmit)="add_position(add_position_form)" #add_position_form="ngForm">
                <p>
                    <mat-form-field>
                        <mat-label>Funcao</mat-label>
                        <input type="text" matInput placeholder="Funcao" name="position" ngModel>
                        <mat-hint>Cargo</mat-hint>
                    </mat-form-field>
                </p>
                <!-- <input type="checkbox" name="show" checked ngModel> -->
                <p>
                    <mat-checkbox name="show" ngModel>Exibir no relatorio</mat-checkbox>
                </p>
                <button mat-raised-button color="accent" type="submit">Gravar</button>
            </form>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="add_employee">
            <h1>Novo Funcionario</h1>
            <form (ngSubmit)="add_employee(add_emp_form)" #add_emp_form="ngForm">
                <p>
                    <mat-form-field appearance='standard'>
                        <mat-label>Nome</mat-label>
                        <input type="text" matInput placeholder="Nome" name="name" ngModel>
                        <mat-hint>Primeiro Nome</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Sobrenome</mat-label>
                        <input type="text" matInput placeholder="Sobrenome" name="surname" ngModel>
                        <mat-hint>Segundo Nome</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Funcao</mat-label>
                        <mat-select name="position" multiple ngModel>
                            <mat-option *ngFor="let position of positions" [value]='position.id'>{{position.CARGO}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <button mat-raised-button color="accent" type="submit">
                    Gravar
                </button>
            </form>
        </div>
        <div class="manage_employee">
            <h1>Gerenciar Funcionarios</h1>
            <form (ngSubmit)="edit_employee(edit_emp_form)" #edit_emp_form="ngForm">
                <p>
                    <mat-form-field>
                        <mat-label>Funcionario</mat-label>
                        <mat-select name="edit_em_select" [(value)]="selected_emp" [ngModel]="selected_emp" (ngModelChange)="fill_edit_emp_form($event, edit_emp_form)">
                            <mat-option>--</mat-option>
                            <mat-option [value]='employee.id' *ngFor="let employee of employees" >{{employee.NOME}} {{employee.SOBRENOME}}</mat-option>
                        </mat-select>
                     </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance='standard'>
                        <mat-label>Nome</mat-label>
                        <input type="text" matInput placeholder="Nome" name="name" ngModel>
                        <mat-hint>Primeiro Nome</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Sobrenome</mat-label>
                        <input type="text" matInput placeholder="Sobrenome" name="surname" ngModel>
                        <mat-hint>Segundo Nome</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Funcao</mat-label>
                        <mat-select name="position" multiple ngModel>
                            <mat-option *ngFor="let position of positions" [value]='position.id'>{{position.CARGO}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <!-- <input type="checkbox" name="status" ngModel>Ativo -->
                <p>
                    <mat-checkbox name="status" ngModel> Ativo</mat-checkbox>
                </p>
                <button mat-raised-button color="accent" type="submit">
                    Gravar
                </button>
            </form>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="add_car">
            <h1>Novo Veiculo</h1>
            <form class="add_car_form" (ngSubmit)="add_car(add_car_form)" #add_car_form="ngForm">
                <p>
                    <mat-form-field>
                        <mat-label>Modelo</mat-label>
                        <input type="text" matInput placeholder="Modelo" name="model" ngModel>
                        <mat-hint>Model</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Referencia</mat-label>
                        <input type="text" matInput placeholder="Referencia" name="ref" ngModel>
                        <mat-hint>Referencia</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Placa</mat-label>
                        <input type="text" matInput placeholder="Placa" name="plate" ngModel>
                        <mat-hint>Placa</mat-hint>
                    </mat-form-field>
                </p>
                <button mat-raised-button color="accent" type="submit">Gravar</button>
            </form>
        </div>
        <div class="manage_car">
            <h1>Gerenciar Veiculos</h1>
            <form class="edit_car_form" (ngSubmit)="edit_car(edit_car_form)" #edit_car_form="ngForm">
                <p>
                    <mat-form-field>
                        <mat-label>Veiculo</mat-label>
                        <mat-select name="edit_car_select" [(value)]="selected_car" [ngModel]="selected_car" (ngModelChange)="fill_edit_car($event, edit_car_form)">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let car of cars" [value]='car.id'>{{car.PLACA}} {{car.REFERENCIA}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Modelo</mat-label>
                        <input type="text" matInput placeholder="Modelo" name="model" ngModel>
                        <mat-hint>Model</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Referencia</mat-label>
                        <input type="text" matInput placeholder="Referencia" name="ref" ngModel>
                        <mat-hint>Referencia</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Placa</mat-label>
                        <input type="text" matInput placeholder="Placa" name="plate" ngModel>
                        <mat-hint>Placa</mat-hint>
                    </mat-form-field>
                </p>
                <!-- <input type="checkbox" name="status" ngModel>Ativo -->
                <p>
                    <mat-checkbox name="status" ngModel> Ativo</mat-checkbox>
                </p>
                <button mat-raised-button color="accent" type="submit">Gravar</button>
            </form>
        </div>
    </div>
</div>