.body{
    margin: 10px;
}
.row{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
form{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}