<div class="body">
    <div class="add_employee">
        <title>Novo Funcionario</title>
        <form class="add_emp_form"></form>
    </div>
    <div class="manage_employee">
        <title>Gerenciar Funcionarios</title>
        <form class="mng_emp_form"></form>
    </div>
    <div class="add_position">
        <title>Novo Cargo</title>
        <form class="add_pos_form"></form>
    </div>
    <div class="add_car">
        <title>Novo Veiculo</title>
        <form action="" class="add_car_form"></form>
    </div>
    <div class="manage_car">
        <title>Gerenciar Veiculos</title>
        <form action="" class="mng_car_form"></form>
    </div>
</div>