<div class="body">
    <div class="add_employee">
        <h1>Novo Funcionario</h1>
        <form (ngSubmit)="add_employee(add_emp_form)" #add_emp_form="ngForm">
            <mat-form-field appearance='standard'>
                <mat-label>Nome</mat-label>
                <input type="text" matInput placeholder="Nome" name="name" ngModel>
                <mat-hint>Primeiro Nome</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sobrenome</mat-label>
                <input type="text" matInput placeholder="Sobrenome" name="surname" ngModel>
                <mat-hint>Segundo Nome</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Funcao</mat-label>
                <mat-select name="position" multiple ngModel>
                    <mat-option *ngFor="let position of positions" [value]='position.id'>{{position.CARGO}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button type="submit">
                Gravar
            </button>
        </form>
    </div>
    <div class="manage_employee">
        <h1>Gerenciar Funcionarios</h1>
        <mat-form-field>
            <mat-label>Funcionario</mat-label>
            <mat-select name="edit_em_select" [(value)]="selected_emp" (change)="fill_edit_emp_form(edit_emp_form)">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let employee of employees" [value]='employee.id'>{{employee.NOME}} {{employee.SOBRENOME}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button (click)="fill_edit_emp_form(edit_emp_form)">Selecionar</button>
        <form (ngSubmit)="edit_employee(edit_emp_form)" #edit_emp_form="ngForm">
            <mat-form-field appearance='standard'>
                <mat-label>Nome</mat-label>
                <input type="text" matInput placeholder="Nome" name="name" ngModel>
                <mat-hint>Primeiro Nome</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sobrenome</mat-label>
                <input type="text" matInput placeholder="Sobrenome" name="surname" ngModel>
                <mat-hint>Segundo Nome</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Funcao</mat-label>
                <mat-select name="position" multiple ngModel>
                    <mat-option *ngFor="let position of positions" [value]='position.id'>{{position.CARGO}}</mat-option>
                </mat-select>
            </mat-form-field>
            <input type="checkbox" name="status" ngModel>Ativo
            <button type="submit">
                Gravar
            </button>
        </form>
    </div>
    <mat-divider></mat-divider>
    <div class="add_position">
        <h1>Nova Funcao</h1>
        <form class="add_pos_form" (ngSubmit)="add_position(add_position_form)" #add_position_form="ngForm">
            <mat-form-field>
                <mat-label>Funcao</mat-label>
                <input type="text" matInput placeholder="Funcao" name="position" ngModel>
                <mat-hint>Cargo</mat-hint>
            </mat-form-field>
            <input type="checkbox" name="show" checked ngModel>Exibir no relatorio
            <button type="submit">Gravar</button>
        </form>
    </div>
    <div class="add_car">
        <h1>Novo Veiculo</h1>
        <form class="add_car_form" (ngSubmit)="add_car(add_car_form)" #add_car_form="ngForm">
            <mat-form-field>
                <mat-label>Modelo</mat-label>
                <input type="text" matInput placeholder="Modelo" name="model" ngModel>
                <mat-hint>Model</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Referencia</mat-label>
                <input type="text" matInput placeholder="Referencia" name="ref" ngModel>
                <mat-hint>Referencia</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Placa</mat-label>
                <input type="text" matInput placeholder="Placa" name="plate" ngModel>
                <mat-hint>Placa</mat-hint>
            </mat-form-field>
            <button type="submit">Gravar</button>
        </form>
    </div>
    <div class="manage_car">
        <h1>Gerenciar Veiculos</h1>
        <mat-form-field>
            <mat-label>Veiculo</mat-label>
            <mat-select name="edit_car_select" [(value)]="selected_car">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let car of cars" [value]='car.id'>{{car.PLACA}} {{car.REFERENCIA}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button (click)="fill_edit_car(edit_car_form)">Selecionar</button>
        <form class="edit_car_form" (ngSubmit)="edit_car(edit_car_form)" #edit_car_form="ngForm">
            <mat-form-field>
                <mat-label>Modelo</mat-label>
                <input type="text" matInput placeholder="Modelo" name="model" ngModel>
                <mat-hint>Model</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Referencia</mat-label>
                <input type="text" matInput placeholder="Referencia" name="ref" ngModel>
                <mat-hint>Referencia</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Placa</mat-label>
                <input type="text" matInput placeholder="Placa" name="plate" ngModel>
                <mat-hint>Placa</mat-hint>
            </mat-form-field>
            <input type="checkbox" name="status" ngModel>Ativo
            <button type="submit">Gravar</button>
        </form>
    </div>
</div>