<div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="DESTINATARIO">
          <th mat-header-cell *matHeaderCellDef>Destinatario</th>
          <td mat-cell *matCellDef="let element"> {{element.DESTINATARIO}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="REMETENTE">
          <th mat-header-cell *matHeaderCellDef>Remetente</th>
          <td mat-cell *matCellDef="let element"> {{element.REMETENTE}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="NFE">
          <th mat-header-cell *matHeaderCellDef>Nota fiscal</th>
          <td mat-cell *matCellDef="let element"> {{element.NFE}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="NR_CONTROLE">
          <th mat-header-cell *matHeaderCellDef>N Controle</th>
          <td mat-cell *matCellDef="let element"> {{element.NR_CONTROLE}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

</div>