<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav-" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="" routerLinkActive="router-link-active"> Inicio </a>
      <mat-expansion-panel *ngFor="let menus of _menulist" class="mat-elevation-z" >
          <mat-expansion-panel-header *ngIf='menus.status'>
            <mat-panel-title>
              {{ menus.title }} 
            </mat-panel-title>
          </mat-expansion-panel-header>
          <span *ngFor="let submenus of menus?.submenus">
            <a *ngIf='submenus.status' mat-list-item routerLink="{{ submenus.url }}">
              {{ submenus.title }}
            </a>
          </span>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Transvacari Transportes</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
